body {
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
    
}

#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header{
    text-align: center ;
        position: relative;
}


#logo{
    text-align: center;
    font-size: 24px;
    display: inline-block;
    padding: 20px 10px;
    font-weight: bold;
}

#user-login{
    position: absolute;
    right: 10px;
    top: 1px;
    
}

ul#main-menu{
        text-align: center;
         background: #157ed2;
}

ul#main-menu li{
    display: inline-block;
}
ul#main-menu li a{
    padding: 8px 15px;
    color: #fff;
    display: block;
}

#content{
     min-height: 600px;
     padding: 20px 0px;
}
#footer{
       background: #FFFFFF;
    color: #157ed2;
    text-align: center;
    padding: 8px 0px;
}